[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
bs4 = "*"
pandas = "*"
lxml = "*"
requests = "*"
pymongo = "*"
flask = "*"
flask-pymongo = "*"
uri = "*"
scrape = "*"
mongo = "*"
flask-cors = "*"
dnspython = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
