<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  
    <!-- Header and Button for Scraping -->
    <div class="header" style="background-color: #c4af76">
        <h1 align=center>Mission to Mars</h1>
        <p  align=center ><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
	
	<!-- Latest Mars News -->
    <div class = "row" >
        <div class = "col-md-12">
                <h2>Latest Mars News:</h2>
                <h4>{{ mars_info.news_title }}</h4>
                <p>{{ mars_info.news_paragraph }}</p>
                <hr>
        </div>
	</div>
    

    <!-- Featuerd Mars Image -->
    <div class="container-fluid" >
    <div class="row" style=" display: flex;">
    <div class="col-md-4" style="flex:1;"  >
      
        <img src="{{ mars_info.featured_image }}" alt="Mars" align="left" width=100%>
	    <hr>
	    <br>
    </div>
    
    
    <!-- Mars Facts -->
    <div class="col-md-4" style="flex:1;">
                <h2>Mars Facts:</h2>
                <hr>
                <p>{{ mars_info.facts | safe }}</p>
                <hr>   
    </div>
    
    
    <!-- Mars Hemispheres -->
    <div class="col-md-4" style="flex:1;"  >
        <h2>Mars Hemispheres:</h2></hr>
                <div class = "row">
					<div class = "col-md-12">   
						{% for e in mars_info.hemisphere_image%}
					<div class = "col-md-6">
						<img src = "{{ e.img_url }}" width=90%>
						<h4>{{ e.title }}</h4>
					</div>
					    {% endfor %}
					</div>
				</div> 
	  
    </div>
	</div>
	</div>

</body>

</html>
